@charset "UTF-8";
@font-face {
    font-family: 'hamburguer heaven' ;
    src: url(../fontes/hamburger_heaven/HAMBH___.TTF)format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --fonte-botao: 'hamburguer heaven', 'cursive';
    --fonte-padrao: Arial, Helvetica, sans-serif;

}

body{
    background-color: #76b9d3;
}

main{
    background: url(../imagens/WhatsApp\ Image\ 2021-08-31\ at\ 15.46.43\ \(1\).jpeg);
    margin: auto;
    padding: 20px;
    min-width: 300px;
    max-width: 600px;
    min-height: 1000px;
    max-height: 1366px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.575);

}

header img{
    display: block;
    width: 221px;
    height: 251px;
    margin: 0px auto 60px auto;
    padding: 0px;
}

section.botoes > a{
    display: block;
    background-color: #ffcb2e;
    border: 3px solid black;
    margin: 10px auto 20px auto;
    padding: 1px 0px 0px 0px;
    border-radius: 10px;
    width: 210px;
    height: 33px;
    text-align: center;
    box-shadow: 3px 4px 7px 2px rgba(0, 0, 0, 0.938);
    text-decoration: none;
    color: black;
    font-family: var(--fonte-botao);
    font-weight: bold;
    font-size: 16pt;
}

section.botoes p{
    margin-top: 3px;
}

section.botoes a:hover{
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.918);
    
}

section.botoes a:active{
    color: rgb(224, 60, 0);
    transform: translateY(2px);
    box-shadow: 2px 2px 4px 2px rgb(0 0 0 / 94%);
}

#pedido{
    background-image: url(../imagens/whatsapp.png);
    background-repeat: no-repeat;
    background-position: 10%;
}

#cardapio{
    background-image: url(../imagens/comida-rapida.png);
    background-repeat: no-repeat;
    background-position: 10%;
    
}

#telefone{
    background-image: url(../imagens/chamada-telefonica.png);
    background-repeat: no-repeat;
    background-position: 10%;
}

section.botaoifood > a{
    display: block;
    background-color: #db0000;
    border: 3px solid black;
    margin: 10px auto 20px auto;
    padding: 1px 0px 0px 0px;
    border-radius: 10px;
    width: 230px;
    height: 43px;
    text-align: center;
    box-shadow: 3px 4px 7px 2px rgba(0, 0, 0, 0.938);
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.952);
    font-family: var(--fonte-botao);
    font-weight: bold;
    font-size: 16pt;
}

section.botaoifood  p{
    margin-top: 8px;
    margin-left: 0px;
    padding-right: 70px;
}

section.botaoifood  a:hover{
        text-decoration: underline;
        color: rgba(255, 255, 255, 0.932);
}

section.botaoifood > a:active{
    color: gray;
    transform: translateY(2px);
    box-shadow: 2px 2px 4px 2px rgb(0 0 0 / 94%);
}

#ifood{
    background-image: url(../imagens/ifood-logo-17.png);
    background-repeat: no-repeat;
    background-position-x: 85%;
    background-position-y: 50%;
}

footer{
    background-color: #426c79;
    margin: 3px auto 0px auto;
    padding: 8px;
    padding-bottom: 0px;
    text-align: center;
    color: black;
    font-size: 0.9em;
    font-weight: bold;
}

footer p{
    color: white;
    font-weight: normal;
    font-size: 0.9em;
}

footer p > a{
    color: white;
}

footer p a:hover{
    color: rgb(12, 12, 117);
}

div.creditos{
    font-weight: bold;
    font-size: 0.8em;
}

div.creditos > a{
    color: black;
}

div.creditos > a:hover{
    color: rgb(12, 12, 117);
}